<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Home</title>
      <link rel="stylesheet" href="/static/index_style.css">
      
</head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Graduate&family=Passion+One&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Graduate&family=Kdam+Thmor+Pro&family=Passion+One&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
<body>
  <div class="container">
    <h1>📈📉 Bienvenue sur Mon StatTracker !🏀</h1>
    <p>Explorez en détail vos exploits sportifs personnels avec clarté et précision. Chaque match, chaque statistique, une histoire unique à découvrir.</p>
    <form action="{{url_for('stats')}}" method="post">
      <button>Show Me</button>
    </form>
</div>
</body>
    
</html>